.buttonWrapper {
  display: flex;
  justify-content: center;

  width: 100%;
}

.formItem,
.loginButton {
  box-sizing: border-box;

  width: 18.75rem;
  padding: 1rem;

  border: 0.06rem solid #5f5f5f;
  border-radius: 1.25rem;

  outline: none;
}

.loginButton:hover {
  color: #fff;
  background-color: #000;

  transition: 0.5s;
}
